<div id="<%= dom_id truck %>">
  <p>
    <strong>Name:</strong>
    <%= truck.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= truck.location %>
  </p>

  <p>
    <strong>User:</strong>
    <%= truck.user_id %>
  </p>

  <p>
    <strong>Container num:</strong>
    <%= truck.container_num %>
  </p>

</div>
