<div id="<%= dom_id job %>">
  <p>
    <strong>User:</strong>
    <%= job.user_id %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= job.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= job.destination %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= job.cost %>
  </p>

</div>
